@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root{
    --cell-size: 50px;
    --color-grayish: #B1A7A6;
    --color-dark-grayish: #8f8d8d;
    --color-white: #F5F3F4;
    --color-red: #660708;
    --color-black: #161A1D;
    --color-light-grayish: #D3D3D3;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--color-black);
}

html, body {
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-light-grayish);
}

#board {
    display: grid;
    grid-gap: 5px;
    max-width: calc(var(--table-size) * var(--card-size) + ((var(--table-size) - 1) * 10px));
    /* box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .2); */
}

.cell {
    position: relative;
    aspect-ratio: 1/1;
    width: var(--cell-size);
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.cell:not(.reveal){
    cursor: pointer;
}

.cell:not(.reveal)::before{
    position: absolute;
    aspect-ratio: 1/1;
    content: '';
    width: var(--cell-size);
    background-color: var(--color-grayish);
    /* opacity: .5; */
    /* border: 1px solid black; */
}

.cell.flag::after{
    content: '';
    position: absolute;
    aspect-ratio: 1/1;
    width: var(--cell-size);
    /* box-shadow: inset 5px 5px 0 var(--color-grayish),
                inset -5px -5px 0 var(--color-dark-grayish); */
    background-color: var(--color-white);
    background-image: url('./images/flag.svg');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    left: 0;
    top: 0;
    z-index: 5;
}

.mine {
    background-color: black;
}

.revealed {
    background-color: var(--color-white);
}